:root {

    /* Primary */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);

}

@font-face {
    font-family: 'Red_Hat_Text', sans-serif;
    src: url(./fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf);
}

body {
    display: grid;
    height: 100svh;
    width: 100svw;
    margin: 0;
    container: body / inline-size;
    background: linear-gradient(to bottom, var(--very-dark-mostly-black-blue) 40%, #2F2439) 40%;
    position: relative;
    font-family: 'Red_Hat_Text', sans-serif;
}

main {
    display: grid;
    height: 100svh;
    width: 100svw;
    background-image: url(./images/bg-stars.svg), url(./images/pattern-hills.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100svw 80svh 100svw 20svh;
    background-position: top, bottom;
    place-items: center;
}

h1 {
    color: var(--white);
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

section[class="social"] {
    display: flex;
    gap: 40px;
}

svg {
    fill: #8385A9;
    cursor: pointer;
}

svg:hover,
a:focus svg {
    fill: var(--soft-red);
}

div[class="attribution"] {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: var(--grayish-blue);
}

@container(inline-size < 1000px) {
    h1 {
        font-size: 1em;
    }
}